/* content */
.cardActions {
  width: 86%;
  height: fit-content;
  padding: 20px 0px;
  margin: auto;
}

.reviewContainer {
  width: 86%;
  height: 100%;
  display: flex;
  margin: auto;
  flex-direction: column;
  gap: 20px;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 50px auto;
  border-bottom: 1px solid var(--green);
}
.reviewHeader {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.reviewContainer h4 {
  font-size: 24px;
  font-weight: 600;
  line-height: 29.26px;
  text-align: left;
}

@media screen and (max-width: 768px) {
  .cardActions {
    width: 92%;
    padding: 10px;
    margin: auto;
    height: fit-content;
    min-height: max-content;
  }

  .reviewContainer {
    width: 92%;
  }
  .reviewContainer h4 {
    font-size: 20px;
    line-height: 24.26px;
  }
}
