.visa{
    width: 100%;
    margin: auto;
}
.visaForm {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 16px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  cursor: pointer;
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
}
.visaDetails {
  font-size: clamp(12px,4vw,16px);
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  font-weight: 600;
  gap: clamp(30px,4vw,40px);
}
.visaDetails svg {
  font-size: 40px;
}
.visaData {
  font-size: clamp(12px,4vw,16px);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 14px;
}
