/* start Image for the Home Page Header */
.topImageContainer {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  transform: translateY(30px);
  -webkit-transform: translateY(30px);
  -moz-transform: translateY(30px);
  -ms-transform: translateY(30px);
  -o-transform: translateY(30px);
}
.topImage {
  width: 98vw;
  height: auto;
  object-fit: cover;
  margin: 0 auto;
  align-self: center;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
/* end Image for the Home Page Header */
.homePage {
  transform: translateY(-20px);
  -webkit-transform: translateY(-20px);
  -moz-transform: translateY(-20px);
  -ms-transform: translateY(-20px);
  -o-transform: translateY(-20px);
}
.SearchContainer{
  position: relative;
  margin: 0 auto 74px auto;
}

.main {
  min-height: fit-content;
  height: fit-content;
  width: 86%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin:74px auto;
}
.AboutUs {
  width: 100%;
  min-height: fit-content;
  margin: 0px auto 113px auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* top rated */
.topRated {
  width: 100%;
  height: 510px;
  min-height: fit-content;
  margin: 0px auto 116.31px auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.topRatedHeader {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 6px;
  margin-bottom: 35px;
}
.topRatedHeader .Textheader {
  font-size: 24px;
  font-weight: 600;
  line-height: 29.26px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.topRatedHeader .Textheader::before {
  content: "";
  width: 5.625vw;
  height: 2px;
  display: inline-block;
  background: linear-gradient(90deg, #4F8F92, #014751);
  margin-right: 20px;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
}
.topRatedHeader .TextBody {
  font-size: 16px;
  font-weight: 500;
  line-height:  19.5px;
  width: calc(100% - 5.625vw - 20px);
  align-self: flex-end;
  justify-self: flex-end;
}


.topRatedCarousel {
  width: 100%;
  height: 420px;
  min-height: fit-content;
  max-height: 420px;
}
/* offer */
.offer {
  width: 100vw;
  margin: 0 0 117px 0;
  height: 430px;
  min-height: fit-content;
}

/* suggested */
/* width: 100%;
  height: 510px;
  min-height: fit-content;
  margin: 0px auto 116.31px auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; */
.suggested {
  width: 100%;
  height: 679px;
  min-height: fit-content;
  margin: 0px auto 117px auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.suggestedHeader {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 6px;
  margin-bottom: 35px;
}
.suggestedHeader .Textheader {
  font-size: 24px;
  font-weight: 600;
  line-height: 29.26px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.suggestedHeader .Textheader::before {
  content: "";
  width: 5.625vw;
  height: 2px;
  display: inline-block;
  background: linear-gradient(90deg, #4F8F92, #014751);
  margin-right: 20px;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
}
.suggestedHeader .TextBody {
  font-size: 16px;
  font-weight: 500;
  line-height:  19.5px;
  width: calc(100% - 5.625vw - 20px);
  align-self: flex-end;
  justify-self: flex-end;
}

.suggestedCarousel {
  width: 100%;
  height: 558px;
  min-height: 558px;
}
/* review */
.reviews {
  width: 100%;
  min-height: fit-content;
  margin: 50px auto;
}
.reviewsHeader {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
  margin-bottom: 30px;
}
.reviewsHeader .Textheader {
  font-size: 24px;
  font-weight: 600;
  line-height: 29.26px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.reviewsHeader .Textheader::before {
  content: "";
  width: 5.625vw;
  height: 2px;
  display: inline-block;
  background: linear-gradient(90deg, #4F8F92, #014751);
  margin-right: 20px;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
}
.reviewsHeader .TextBody {
  font-size: 16px;
  font-weight: 500;
  line-height:  19.5px;
  width: calc(100% - 5.625vw - 20px);
  align-self: flex-end;
  justify-self: flex-end;
}

.reviewCarousel {
  width: 100%;
  height: 469px;
}
/* nedia query */
@media screen and (max-width: 768px) {
  .main {
    width: 92%;
    margin: auto;
  }
  .suggestedCarousel {
    height: auto;
    min-height: 429px;
  }
  .AboutUs {
    margin: 0px auto 25px auto;
  }
}
@media screen and (max-width: 430px) {
  .main {
    width: 92%;
    margin: auto;
  }
  .suggestedCarousel {
    height: auto;
    min-height: 429px;
  }



  .SearchContainer{
    position: relative;
    margin: 0 auto 32px auto;
  }
  .AboutUs {
    margin: 0px auto 24px auto;
  }
  /* top rated */
  .topRated {
    height: 553px;
    margin: 0px auto 32px auto;
  }
  
  .topRatedHeader {
    gap: 12px;
    margin-bottom: 16px;
  }
  .topRatedHeader .Textheader {
    font-size: 20px;
    line-height: auto;
  }
  .topRatedHeader .Textheader::before {
    width: 34px;
    margin-right: 6px;
  }
  .topRatedHeader .TextBody {
    font-size: 14px;
    line-height:  auto;
    width: calc(100% - 34px - 6px);
  }
  /* offer */
  .offer {
    margin: 0 0 32px 0;
    height: 533px;
  }
  
  .suggested {
    height: fit-content;
    min-height: 541px;
    margin: 0px auto 32px auto;
   
  }
  .suggestedHeader {
    gap: 12px;
    margin-bottom: 16px;
  }
  .suggestedHeader .Textheader {
    font-size: 20px;
    line-height: auto;
  }
  .suggestedHeader .Textheader::before {
    width: 34px;
    margin-right: 6px;
  }
  .suggestedHeader .TextBody {
    font-size: 14px;
    line-height:  auto;
    width: calc(100% - 34px - 6px);
  }
  
  .suggestedCarousel {
    width: 100%;
    height: fit-content;
    min-height: 408px;
  }
  /* review */
  .reviews {
    width: 100%;
    min-height: fit-content;
    margin: 50px auto;
  }
  .reviewsHeader {
    gap: 12px;
    margin-bottom: 16px;
  }
  .reviewsHeader .Textheader {
    font-size: 20px;
    line-height: auto;
  }
  .reviewsHeader .Textheader::before {
    width: 34px;
    margin-right: 6px;
  }
  .reviewsHeader .TextBody {
    font-size: 14px;
    line-height:  auto;
    width: calc(100% - 34px - 6px);
  }
  
  .reviewCarousel {
    height: 489px;
  }

}
