.card {
  width: 100%;
  height: 100%;
  min-height: fit-content;
  margin: auto;
  overflow: hidden;
  z-index: 10;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-decoration: none;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}

.ltr {
  direction: ltr;
}

.rtl {
  direction: rtl;
}

.imageContainer {
  position: relative;
  height: 70%;
  min-height: 384px;
}

.apartmentImage {
  width: 100%;
  height: 100%;
}
.apartmentImage .AapartmentImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.likeButton {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 48px;
  height: 48px;
  z-index: 9999;
  background-color: transparent;
  border: none;
  padding: 8px;
  border-radius: 50%;
  cursor: pointer;
  font-size: 35px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.likeButton img {
  width: 100%;
  height: 100%;
}

.details {
  padding: 16px 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  text-decoration: none;
  /* height: 124px; */
  height: fit-content;
  min-height: fit-content;
  width: 100%;
}

.name {
  font-size: clamp(18px, 4vw, 20px);
  font-weight: 600;
  line-height: clamp(22, 4vw, 24.38px);
  color: #080808;
}

.address {
  color: #666;
  font-size: 14px;
  font-weight: 500;
  line-height: 17.07px;
}

.rating {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-top: 8px;
  gap: 10px;
  font-size: 14px;
  font-weight: 500;
  line-height: 17.07px;
}

.supply {
  color: var(--green);
  display: flex;
  align-items: center;
  justify-content: center;
}
.supply svg {
  font-size: 20px;
}
.supply span {
  padding: 0 5px;
  margin: auto;
}

.reviewCount {
  margin-left: 8px;
  color: #666;
}
